- @layout = '_layouts/application'
- @head = capture_haml do
  %link{rel: 'stylesheet', href: 'public/application.css'}
  %script{src: 'public/d3.v3.min.js'}
  -# %script{src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}

%h2 Game of Thrones
%script{src: 'public/character_graph.js'}

.modified
  Updated at:
  %script document.write(document.lastModified);